# URL of the OpenID Connect (OIDC) authority
VITE_OIDC_AUTHORITY=http://localhost:8080/realms/app

# Identify the application to the OIDC provider
VITE_OIDC_CLIENT_ID=web-client

# Base URL of the API server
VITE_API_BASE_URL=/api
