# ============================================================================
# Python
# ============================================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
build/
dist/
*.manifest
.ipynb_checkpoints/
*.ipynb
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
