PORT=5600
DATABASE_URL=mongodb://admin:123123@localhost:27017/test?authSource=admin&replicaSet=rs0
OPENAI_API_KEY=sk-proj-
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_pt_
LANGSMITH_PROJECT=project_name